{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

<div class="page-header">
    <a href="/"></a>
</div>
    {% for post in posts %}
        <div>
            <p><a href="">{{ post.title }}</a></p>
            <p>Published on : {{ post.published_on }}</p>
            <p>Created on : {{ post.created_on }}</p>
            <p>Text : {{ post.text|linebreaksbr }}</p>
        </div>

    {% endfor %}
</head>
<body>
</body>
</html>
